.logo {
  display: flex;
  justify-content: center;
  background-color: rgba(248, 249, 250);
}

.icon {
  display: inline-flex;
}

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10;
}

.Carousel {
  z-index: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
}

.container-fluid {
  display: inline;
  width: 100px;
  margin: 0;
}

.carousel-item img {
  filter: brightness(50%);
}

.nav-link:hover {
  transition-duration: 400ms;
  transform: scale(105%);
  background-color: #ddd;
}

.carousel-caption h5 {
  font-size: 2em;
}

.carousel-caption p {
  font-size: 1.5em;
}

.CardsContainer {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .Carousel {
    height: 70%;
  }
}
