.logo {
  display: flex;
  justify-content: space-between;
  background-color: rgba(248, 249, 250);
  padding: 0px 30px;
  padding-top: 10px;
}

.icon {
  align-self: flex-start;
}

.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10;
}

.Carousel {
  z-index: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
}

.container-fluid {
  display: inline;
  width: 100px;
  margin: 0;
}

.carousel-item img {
  filter: brightness(50%);
}

.nav-link {
  transition-delay: 100ms;
  transition-duration: 400ms;
  border-radius: 10px;
}

.nav-link:hover {
  transition-delay: 100ms;
  transition-duration: 400ms;
  background-color: rgba(0, 0, 0, 0.09);
}

.carousel-caption h5 {
  font-size: 2em;
}

.carousel-caption p {
  font-size: 1.5em;
}

.CardsContainer {
  display: flex;
  justify-content: space-around;
}

.carouselImg {
  height: 500px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .Carousel {
    height: 70%;
  }
}
